* {
    margin: 0px;
    padding: 0px;
}

/* common shared styles*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #272727;
}

/*hrader styles*/
.header {
    background-color: #E554731A;
}

.banner {
    margin: 0px 50px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    padding: 20px;
    max-width: 600px;
}

.banner-title {
    color: #272727;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 30px;

}

.banner-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}


.header-pic {
    height: 700px;
    width: 500px;

}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
}

/*description section */

.des {
    margin: 150px 350px;
    text-align: center;

}

.des-pera {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    align-items: center;
}

/*main sectio releted */
main {
    max-width: 1140px;
}

.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.feature-img {
    width: 30%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    text-align: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.feature-img img {
    height: 80%;
}

/*icon releted*/

.container {
    width: 1140px;
    height: 320px;
    margin-top: 80px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.icon {
    text-align: center;
    padding: 5px;
}

/*hot deal*/
.hot {
    height: 620px;
    margin-top: 100px;
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.hot-deal {
    color: #272727;
    font-size: 20px;
    font-weight: 800;
}

.span {
    color: #E55473;
}

.hot-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.insta {
    margin: 150px 350px;
    text-align: center;
}

.insta-h1 {
   /* font-size: 20px;*/
    font-weight: 800;
}

.insta-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.insta-flo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}