* {
    margin: 0px;
    padding: 0px;
}

/* common shared styles*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #272727;
}

/*hrader styles*/
.header {
    background-color: #E554731A;
}

.banner {
    margin: 0px 50px;
    padding: 20px 40px 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    padding: 20px;
    max-width: 600px;
}

.banner-title {
    color: #272727;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 30px;

}

.banner-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}


.header-pic {
    height: 700px;
    width: 500px;

}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
}



/*description section */

.des {
    margin: 120px 300px;
    text-align: center;

}

.des-h {
    margin-bottom: 15px;

}

.des-pera {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    align-items: center;
}


.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    gap: 15px;


}

.feature-img {
    width: 30%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A7216226;
    text-align: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    
}

.feature-img1 {
    width: 30%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0597A026;
    text-align: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.feature-img2 {
    width: 30%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #477D1126;
    text-align: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}




/*icon releted*/

.container {

    height: 270px;
    margin: 80px 200px 0px 150px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.icon {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.images {
    margin-bottom: 10px;
}
/* new arrival releted styles*/
.new-arrival {
    align-items: center;
    margin-bottom: 260px;


}

.new-h {

    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}

.new-p {
   
    align-items: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.new-flo {
    margin: 0px 100px 100px 150px;
    display: flex;
    gap: 23px;
    margin-top: 20px;


}

/*hot deal*/
.hot {
    height: 620px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.hot-deal {
    color: #272727;
    font-size: 20px;
    font-weight: 800;
}

.hot_h1 {
    margin-bottom: 20px;
    text-align: center;

}

.span {
    color: #E55473;
}

.hot-p {
    width: 550px;
    height: 60px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}


/*instagram releted syles*/

.insta {
    align-items: center;
    margin-bottom: 260px;


}

.insta-h1 {

    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}

.insta-p {
   
    align-items: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.insta-flo {
    margin: 0px 100px 100px 150px;
    display: flex;
    gap: 23px;
    margin-top: 20px;


}

/*backgound image releted styles*/
.bg-imag {
    background-image: url(../images/Rectangle\ 9.png);
    height: 449px;
    align-items: center;
    background-repeat: no-repeat;
    margin: 0px 100px 100px 150px;

}

.bg-h {
    padding: 70px 230px 0px 230px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.bg-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 5px;
}

input {
    margin-right: 15px 220px;
    padding: 22px 100px 22px 20px;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
}
/*footer related styles*/

footer {
    background: #111010;
    padding: 130px 380px 230px 350px;
    background-size: 100%;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.ft-span {
    color: white;
}

.foot-des {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

h5 {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}